In [1]:
pip list

Package                           Version
--------------------------------- -------------------
accelerate                        1.9.0
aiobotocore                       2.19.0
aiohappyeyeballs                  2.4.4
aiohttp                           3.11.10
aioitertools                      0.7.1
aiosignal                         1.2.0
alabaster                         0.7.16
altair                            5.5.0
anaconda-anon-usage               0.7.1
anaconda-auth                     0.8.6
anaconda-catalogs                 0.2.0
anaconda-cli-base                 0.5.2
anaconda-client                   1.13.0
anaconda-navigator                2.6.6
anaconda-project                  0.11.1
annotated-types                   0.6.0
anyio                             4.7.0
appdirs                           1.4.4
archspec                          0.2.3
argon2-cffi                       21.3.0
argon2-cffi-bindings              21.2.0
arrow                             1.3.0
astroid                           3.3.8
astropy                           7.0.0
astropy-iers-data                 0.2025.6.23.0.39.50
asttokens                         3.0.0
async-lru                         2.0.4
asyncssh                          2.17.0
atomicwrites                      1.4.0
attrs                             24.3.0
Automat                           24.8.1
autopep8                          2.0.4
babel                             2.16.0
bcrypt                            4.3.0
beautifulsoup4                    4.12.3
binaryornot                       0.4.4
black                             24.10.0
bleach                            6.2.0
blinker                           1.9.0
bokeh                             3.6.2
boltons                           25.0.0
botocore                          1.36.3
Bottleneck                        1.4.2
Brotli                            1.0.9
brotlicffi                        1.0.9.2
cachetools                        5.5.1
certifi                           2026.1.4
cffi                              1.17.1
chardet                           4.0.0
charset-normalizer                3.3.2
click                             8.1.8
cloudpickle                       3.1.1
colorama                          0.4.6
colorcet                          3.1.0
comm                              0.2.1
conda                             25.7.0
conda-build                       25.5.0
conda-content-trust               0.2.0
conda_index                       0.6.1
conda-libmamba-solver             25.4.0
conda-pack                        0.7.1
conda-package-handling            2.4.0
conda_package_streaming           0.12.0
conda-repo-cli                    1.0.165
conda-token                       0.6.0
constantly                        23.10.4
contourpy                         1.3.1
cookiecutter                      2.6.0
cryptography                      44.0.1
cssselect                         1.2.0
cycler                            0.11.0
Cython                            3.1.2
cytoolz                           1.0.1
dask                              2025.2.0
dask-expr                         2.0.0
datashader                        0.18.0
debugpy                           1.8.11
decorator                         5.1.1
defusedxml                        0.7.1
Deprecated                        1.2.13
diff-match-patch                  20200713
dill                              0.3.8
distributed                       2025.2.0
distro                            1.9.0
docstring-to-markdown             0.11
docutils                          0.21.2
et-xmlfile                        1.1.0
evalidate                         2.0.3
executing                         0.8.3
fastjsonschema                    2.20.0
filelock                          3.17.0
flake8                            7.1.1
Flask                             3.1.0
flask-cors                        6.0.0
Flask-MySQLdb                     2.0.0
fonttools                         4.55.3
frozendict                        2.4.2
frozenlist                        1.5.0
fsspec                            2025.5.1
gensim                            4.3.3
gitdb                             4.0.7
GitPython                         3.1.43
gmpy2                             2.2.1
greenlet                          3.1.1
h11                               0.16.0
h5py                              3.14.0
HeapDict                          1.0.1
holoviews                         1.21.0
httpcore                          1.0.9
httpx                             0.28.1
huggingface-hub                   0.34.3
hvplot                            0.11.3
hyperlink                         21.0.0
idna                              3.7
imagecodecs                       2024.9.22
imageio                           2.37.0
imagesize                         1.4.1
imbalanced-learn                  0.13.0
importlib_metadata                8.5.0
incremental                       24.7.2
inflection                        0.5.1
iniconfig                         1.1.1
intake                            2.0.7
intervaltree                      3.1.0
ipykernel                         6.29.5
ipython                           8.30.0
ipython-genutils                  0.2.0
ipywidgets                        7.8.5
isort                             6.0.1
itemadapter                       0.3.0
itemloaders                       1.3.2
itsdangerous                      2.2.0
jaraco.classes                    3.2.1
jaraco.context                    0.0.0
jaraco.functools                  4.1.0
jedi                              0.19.2
jellyfish                         1.1.3
Jinja2                            3.1.6
jmespath                          1.0.1
joblib                            1.4.2
json5                             0.9.25
jsonpatch                         1.33
jsonpointer                       2.1
jsonschema                        4.23.0
jsonschema-specifications         2023.7.1
jupyter                           1.1.1
jupyter_client                    8.6.3
jupyter-console                   6.6.3
jupyter_core                      5.7.2
jupyter-events                    0.12.0
jupyter-lsp                       2.2.5
jupyter_server                    2.15.0
jupyter_server_terminals          0.5.3
jupyterlab                        4.3.4
jupyterlab_pygments               0.3.0
jupyterlab_server                 2.27.3
jupyterlab-widgets                1.0.0
jupytext                          1.19.1
keyring                           25.6.0
kiwisolver                        1.4.8
lazy_loader                       0.4
lazy-object-proxy                 1.10.0
lckr_jupyterlab_variableinspector 3.2.4
libarchive-c                      5.1
libmambapy                        2.0.5
lief                              0.16.4
linkify-it-py                     2.0.0
llvmlite                          0.44.0
lmdb                              1.6.2
locket                            1.0.0
lxml                              5.3.0
lz4                               4.3.2
Markdown                          3.8
markdown-it-py                    2.2.0
MarkupSafe                        3.0.2
matplotlib                        3.10.0
matplotlib-inline                 0.1.6
mccabe                            0.7.0
mdit-py-plugins                   0.3.0
mdurl                             0.1.0
mecab                             0.996.11
menuinst                          2.3.0
mistune                           3.1.2
mkl_fft                           1.3.11
mkl_random                        1.2.8
mkl-service                       2.4.0
more-itertools                    10.3.0
mpi4py                            4.0.3
mpmath                            1.3.0
msgpack                           1.1.1
multidict                         6.1.0
multipledispatch                  0.6.0
mypy                              1.16.0
mypy-extensions                   1.0.0
mysql                             0.0.3
mysqlclient                       2.2.7
narwhals                          1.31.0
navigator-updater                 0.5.1
nbclient                          0.10.2
nbconvert                         7.16.6
nbformat                          5.10.4
nest-asyncio                      1.6.0
networkx                          3.4.2
nltk                              3.9.1
notebook                          7.3.2
notebook_shim                     0.2.4
numba                             0.61.2
numexpr                           2.10.1
numpy                             2.3.0
numpydoc                          1.9.0
openpyxl                          3.1.5
outcome                           1.3.0.post0
overrides                         7.4.0
packaging                         24.2
pandas                            2.2.3
pandocfilters                     1.5.0
panel                             1.7.0
param                             2.2.1
paramiko                          3.5.0
parsel                            1.8.1
parso                             0.8.4
partd                             1.4.2
pathspec                          0.10.3
patsy                             1.0.1
pexpect                           4.9.0
pickleshare                       0.7.5
pillow                            11.1.0
pip                               25.1
pkce                              1.0.3
pkginfo                           1.12.0
platformdirs                      4.3.7
plotly                            6.0.1
pluggy                            1.5.0
ply                               3.11
pooch                             1.9.0
prometheus_client                 0.21.1
prompt-toolkit                    3.0.43
propcache                         0.3.1
Protego                           0.4.0
protobuf                          5.29.3
psutil                            5.9.0
ptyprocess                        0.7.0
pure-eval                         0.2.2
py-cpuinfo                        9.0.0
pyarrow                           19.0.0
pyasn1                            0.4.8
pyasn1-modules                    0.2.8
pycodestyle                       2.12.1
pycosat                           0.6.6
pycparser                         2.21
pyct                              0.5.0
pycurl                            7.45.6
pydantic                          2.11.7
pydantic_core                     2.33.2
pydantic-settings                 2.6.1
pydeck                            0.9.1
PyDispatcher                      2.0.7
pydocstyle                        6.3.0
pyerfa                            2.0.1.5
pyflakes                          3.2.0
PyGithub                          2.4.0
Pygments                          2.19.1
PyJWT                             2.10.1
pylint                            3.3.5
pylint-venv                       3.0.3
pyls-spyder                       0.4.0
PyMySQL                           1.1.1
PyNaCl                            1.5.0
pyodbc                            5.2.0
pyOpenSSL                         25.0.0
pyparsing                         3.2.0
PyQt5                             5.15.10
PyQt5_sip                         12.13.0
PyQtWebEngine                     5.15.6
PySocks                           1.7.1
pytest                            8.4.1
python-dateutil                   2.9.0.post0
python-dotenv                     1.1.0
python-json-logger                3.2.1
python-lsp-black                  2.0.0
python-lsp-jsonrpc                1.1.2
python-lsp-server                 1.12.2
python-slugify                    5.0.2
pytoolconfig                      1.2.6
pytz                              2024.1
pyuca                             1.2
pyviz_comms                       3.0.2
PyWavelets                        1.8.0
pywin32                           308
pywin32-ctypes                    0.2.2
pywinpty                          2.0.15
PyYAML                            6.0.2
pyzmq                             26.2.0
QDarkStyle                        3.2.3
qstylizer                         0.2.2
QtAwesome                         1.4.0
qtconsole                         5.6.1
QtPy                              2.4.1
queuelib                          1.6.2
readchar                          4.0.5
referencing                       0.30.2
regex                             2024.11.6
requests                          2.32.4
requests-file                     2.1.0
requests-toolbelt                 1.0.0
rfc3339-validator                 0.1.4
rfc3986-validator                 0.1.1
rich                              13.9.4
roman-numerals-py                 3.1.0
rope                              1.13.0
rpds-py                           0.22.3
Rtree                             1.0.1
ruamel.yaml                       0.18.10
ruamel.yaml.clib                  0.2.12
ruamel-yaml-conda                 0.17.21
s3fs                              2025.5.1
safetensors                       0.6.1
scikit-image                      0.25.2
scikit-learn                      1.6.1
scipy                             1.13.1
Scrapy                            2.12.0
seaborn                           0.13.2
selenium                          4.32.0
semver                            3.0.2
Send2Trash                        1.8.2
service-identity                  24.2.0
setuptools                        78.1.1
shellingham                       1.5.0
sip                               6.7.12
six                               1.17.0
sklearn-compat                    0.1.3
smart-open                        5.2.1
smmap                             4.0.0
sniffio                           1.3.0
snowballstemmer                   2.2.0
sortedcontainers                  2.4.0
soupsieve                         2.5
Sphinx                            8.2.3
sphinxcontrib-applehelp           2.0.0
sphinxcontrib-devhelp             2.0.0
sphinxcontrib-htmlhelp            2.1.0
sphinxcontrib-jsmath              1.0.1
sphinxcontrib-qthelp              2.0.0
sphinxcontrib-serializinghtml     2.0.0
spyder                            6.0.7
spyder-kernels                    3.0.5
SQLAlchemy                        2.0.39
stack-data                        0.2.0
statsmodels                       0.14.4
streamlit                         1.46.1
superqt                           0.7.3
sympy                             1.13.3
tables                            3.10.2
tabulate                          0.9.0
tblib                             3.1.0
tenacity                          9.0.0
terminado                         0.17.1
text-unidecode                    1.3
textdistance                      4.6.3
threadpoolctl                     3.5.0
three-merge                       0.1.1
tifffile                          2024.12.12
tinycss2                          1.4.0
tldextract                        5.1.2
tokenizers                        0.21.4
toml                              0.10.2
tomli                             2.0.1
tomlkit                           0.13.2
toolz                             1.0.0
torch                             2.8.0
tornado                           6.5.1
tqdm                              4.67.1
traitlets                         5.14.3
transformers                      4.55.0
trio                              0.30.0
trio-websocket                    0.12.2
truststore                        0.10.0
Twisted                           24.11.0
twisted-iocpsupport               1.0.2
typer                             0.9.0
typing_extensions                 4.12.2
typing-inspection                 0.4.0
tzdata                            2025.2
uc-micro-py                       1.0.1
ujson                             5.10.0
unicodedata2                      15.1.0
Unidecode                         1.3.8
urllib3                           2.5.0
w3lib                             2.1.2
watchdog                          4.0.2
wcwidth                           0.2.13
webencodings                      0.5.1
websocket-client                  1.8.0
Werkzeug                          3.1.3
whatthepatch                      1.0.2
wheel                             0.45.1
widgetsnbextension                3.6.10
win-inet-pton                     1.1.0
wrapt                             1.17.0
wsproto                           1.2.0
xarray                            2025.4.0
xgboost                           3.0.1
xlwings                           0.32.1
xyzservices                       2022.9.0
yapf                              0.40.2
yarl                              1.18.0
zict                              3.0.0
zipp                              3.21.0
zope.interface                    7.1.1
zstandard                         0.23.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
pd

In [4]:
pd.__version__

'2.3.3'

In [7]:
# numpy 생성
arr = np.arange(100, 105)
arr

array([100, 101, 102, 103, 104])

In [6]:
import numpy as np

In [8]:
# numpy 생성
arr = np.arange(100, 105)
arr

array([100, 101, 102, 103, 104])

In [9]:
s = pd.Series(arr)
s

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [10]:
s = pd.Series(arr, dtype='int32')
s

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [11]:
s = pd.Series(['부장', '차장', '대리', '사원', '인턴'])
s

0    부장
1    차장
2    대리
3    사원
4    인턴
dtype: object

In [12]:
s = pd.Series([91, 2.5, '스포츠', 4, 5.16])
s

0      91
1     2.5
2     스포츠
3       4
4    5.16
dtype: object

In [13]:
s = pd.Series(['부장', '차장', '대리', '사원', '인턴'])
s

0    부장
1    차장
2    대리
3    사원
4    인턴
dtype: object

In [14]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
s[0]

'부장'

In [18]:
s[1:3]

1    차장
2    대리
dtype: object

In [19]:
s[np.arange(1, 4, 2)]

1    차장
3    사원
dtype: object

In [20]:
np.random.seed(0)
s = pd.Series(np.random.randint(10000, 20000, size=(10,)))
s

0    12732
1    19845
2    13264
3    14859
4    19225
5    17891
6    14373
7    15874
8    16744
9    13468
dtype: int32

In [23]:
rng = np.random.default_rng(42)
pd.Series(rng.integers(10000, 20000, 10))

0    10892
1    17739
2    16545
3    14388
4    14330
5    18585
6    10859
7    16973
8    12014
9    10941
dtype: int64

In [24]:
s > 15000

0    False
1     True
2    False
3    False
4     True
5     True
6    False
7     True
8     True
9    False
dtype: bool

In [27]:
s[s > 15000]

1    19845
4    19225
5    17891
7    15874
8    16744
dtype: int32

In [28]:
s = pd.Series(['마케팅', '경영', '개발', '기획', '인사'], index=['a', 'b', 'c', 'd', 'e'])
s

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [29]:
s['c']

'개발'

In [30]:
s[['a', 'd']]

a    마케팅
d     기획
dtype: object

In [31]:
s = pd.Series(['마케팅', '경영', '개발', '기획', '인사'])
s.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [33]:
s.index = list('abcde')

In [34]:
s

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [35]:
s = pd.Series(['선화', '강호', np.nan, '소정', '우영'])
s

0     선화
1     강호
2    NaN
3     소정
4     우영
dtype: object

In [36]:
s[s.isnull()]

2    NaN
dtype: object

In [37]:
s.isna()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [38]:
s[s.isnull()]

2    NaN
dtype: object

In [39]:
s[s.notnull()]

0    선화
1    강호
3    소정
4    우영
dtype: object

In [40]:
s.notna()

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [44]:
s[s.notna()]

0    선화
1    강호
3    소정
4    우영
dtype: object

In [45]:
s = pd.Series(np.arange(100, 150, 10))
s

0    100
1    110
2    120
3    130
4    140
dtype: int64

In [46]:
s.index = list('가나다라마')
s

가    100
나    110
다    120
라    130
마    140
dtype: int64

In [47]:
pd.Series(np.arange(1,11,1), dtype='float32')

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float32

In [54]:
s = pd.Series(['가', '나', '다', '라', '마'])
s

0    가
1    나
2    다
3    라
4    마
dtype: object

In [55]:
s.index = list('가나다라마')

In [56]:
s

가    가
나    나
다    다
라    라
마    마
dtype: object

In [58]:
s.arange((10,60,10), dtype="int64")

AttributeError: 'Series' object has no attribute 'arange'

In [59]:
s = np.arange(10, 60, 10)

In [60]:
s

array([10, 20, 30, 40, 50])

In [61]:
s.Series

AttributeError: 'numpy.ndarray' object has no attribute 'Series'

In [62]:
s.Series()

AttributeError: 'numpy.ndarray' object has no attribute 'Series'

In [63]:
S = pd.Series(s)

In [64]:
S

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [65]:
S.index = list('가나다라마')

In [66]:
S

가    10
나    20
다    30
라    40
마    50
dtype: int64

In [67]:
pd.DataFrame([[1, 2, 3], 
              [4, 5, 6], 
              [7, 8, 9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [68]:
pd.DataFrame([[1, 2, 3], 
              [4, 5, 6], 
              [7, 8, 9]], columns=['가', '나', '다'])

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [69]:
data = {
    'name': ['Kim', 'Lee', 'Park'], 
    'age': [24, 27, 34], 
    'children': [2, 1, 3]
}

In [70]:
pd.DataFrame(data)

   name  age  children
0   Kim   24         2
1   Lee   27         1
2  Park   34         3

In [72]:
df = pd.DataFrame(data)
df.index

RangeIndex(start=0, stop=3, step=1)

In [73]:
df = pd.DataFrame(data)
df.columns

Index(['name', 'age', 'children'], dtype='object')

In [74]:
df.values

array([['Kim', 24, 2],
       ['Lee', 27, 1],
       ['Park', 34, 3]], dtype=object)

In [75]:
df.dtypes

name        object
age          int64
children     int64
dtype: object

In [77]:
df.T

            0    1     2
name      Kim  Lee  Park
age        24   27    34
children    2    1     3

In [78]:
df

   name  age  children
0   Kim   24         2
1   Lee   27         1
2  Park   34         3

In [82]:
df.index = list('abc')
df

   name  age  children
a   Kim   24         2
b   Lee   27         1
c  Park   34         3

In [85]:
df['name']

a     Kim
b     Lee
c    Park
Name: name, dtype: object

In [86]:
type(df['name'])

pandas.core.series.Series

In [108]:
df[['name', 'age']]

TypeError: 'NoneType' object is not subscriptable

In [109]:
pd.DataFrame([[k, 2, 3], 
              [4, 5, 6], 
              [7, 8, 9]], columns=['food', 'price', 'rating'])

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [111]:
data = {
    'food': ['KFC', 'Mc', 'SF'], 
    'price': [1000, 2000, 2500], 
    'rating': [4.5, 3.9, 4.2]
}

In [114]:
df = pd.DataFrame(data)

In [115]:
df

  food  price  rating
0  KFC   1000     4.5
1   Mc   2000     3.9
2   SF   2500     4.2

In [116]:
df[['food', 'rating']]

  food  rating
0  KFC     4.5
1   Mc     3.9
2   SF     4.2

In [119]:
df= df.rename(columns={'food' : 'place'})
df

  place  price  rating
0   KFC   1000     4.5
1    Mc   2000     3.9
2    SF   2500     4.2

In [123]:
arr = np.arange(10,60,10)

In [124]:
sample = pd.Series(arr)

In [125]:
sample

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [126]:
sample = pd.Series(arr, index=list("가나다라마"))

In [127]:
sample

가    10
나    20
다    30
라    40
마    50
dtype: int64

In [130]:
sample[["나", "라"]]

나    20
라    40
dtype: int64

In [131]:
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
sample2

0     199
1     190
2     115
3     195
4     128
5     190
6     109
7     120
8     175
9     122
10    171
11    134
12    196
13    140
14    185
dtype: int32

In [136]:
a = sample2[sample2 <= 160]

In [137]:
a

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int32

In [138]:
b = sample2[129 < sample2 < 171]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().